In [2]:
for i in "apple":
    print(i)

a
p
p
l
e

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(1,5):
    print(i)

1
2
3
4

In [6]:
for i in range(1,11):
    print(i,"X2=",i*2)

1 X2= 2
2 X2= 4
3 X2= 6
4 X2= 8
5 X2= 10
6 X2= 12
7 X2= 14
8 X2= 16
9 X2= 18
10 X2= 20

In [13]:
a = int(input("Enter a value:"))
b = int(input("Enter b value:"))
for i in range(a+1,b):
    print(i)

Enter a value: 5
Enter b value: 10

6
7
8
9

In [21]:
count=0
for i in range (1,11):
    if i%2==0:
        print(i) # to print even numbers
        count+=1 # created a dummy variable to count how many even no. are there?
print("No. of Even numbers:",count)

2
4
6
8
10
No. of Even numbers: 5

## EXERCISE

1. Find how many odd and even numbers are there in betweenn 2 numbers.

In [3]:
a=int(input("Enter a number:"))
b=int(input("Enter another number:"))

count1=0
count2=0
for i in range(a,b+1):
    if i%2==0:
        #print(i) # to print the even numbers
        count1+=1
    elif i%2!=0:
        #print(i)  # to print the odd numbers
        count2+=1
print("Number of even:",count1)
print("Number of odd:",count2)

Enter a number: 5
Enter another number: 10

Number of even: 3
Number of odd: 3

2. count the number which are divisible by 3&5, Range 1-100

In [5]:
count=0
for i in range(1,101):
    if i%3 == 0 and i%5==0:
        count+=1
print(count)

6

3. Addition of first five natural numbers

In [9]:
a=0
for i in range(1,6):
    a=a+i
print(a)

15

4. get input of 10 numbers and find the average for that numbers.

In [1]:
a = []
for i in range(1, 11):
    b = int(input("Enter number " + str(i) + ": "))
    a.append(b)

length=len(a)
total = 0
for i in a:
    total += i
print("Average of numbers:",total/length)

Enter number 1:  1
Enter number 2:  2
Enter number 3:  3
Enter number 4:  4
Enter number 5:  5
Enter number 6:  6
Enter number 7:  7
Enter number 8:  8
Enter number 9:  9
Enter number 10:  10

Average of numbers: 5.5

5. write a code to display n terms of natural numbers along with their total.

In [10]:
total =0
n= int(input("Enter a number:"))
for i in range(1,n+1):
    print(i,end=",")
    total +=i
print("\nTotal Value is:",total)

Enter a number: 10

1,2,3,4,5,6,7,8,9,10,
Total Value is: 55