In [2]:
A = "yuvaraj is the best student"
A

'yuvaraj is the best student'

In [8]:
b = A.replace('yuvaraj', 'alton')
b

'alton is the best student'

In [11]:
my_string="Hello" 
char = my_string[0]
char

'H'

In [1]:
 print("Python is \"awesome\"")

Python is "awesome"

In [1]:
tuples=(1,2,4,("Kiruba",6),8,("sound",9))

In [2]:
tuples[5][1]

9

In [3]:
L=["Kiruba",10.1,2005,[1,2],('A',1)]

In [4]:
L[3:5]

[[1, 2], ('A', 1)]

## APPEND

In [12]:
list_a = [1, 2, 3]
list_a.append(4)
print(list_a)

list_a.append([5, 6]) # Appending a list as a single element
print(list_a)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]

## EXTEND

IT CAN INCLUDE ONLY ONE ARGUMENT

In [20]:
list_b = [1, 2, 3]
list_b.extend([4, 5]) # Extending with a list
print(list_b)

list_b.extend(["abc",1]) # Extending with a string
print(list_b)

list_b.extend("abc")
print(list_b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 'abc', 1]
[1, 2, 3, 4, 5, 'abc', 1, 'a', 'b', 'c']

In [25]:
list_b[0] = "KIRUBA Karan", "1811,2005"
list_b

[('KIRUBA Karan', '1811,2005'), 3, 4, 5, 'abc', 1, 'a', 'b', 'c']

In [26]:
del(list_b[1])
list_b

[('KIRUBA Karan', '1811,2005'), 4, 5, 'abc', 1, 'a', 'b', 'c']

Convert String to list

In [27]:
list_b[0][0].split()

['KIRUBA', 'Karan']

In [28]:
list_b[0][1].split(",")

['1811', '2005']

In [1]:
[1,2,3] + [1,1,1]

[1, 2, 3, 1, 1, 1]

In [3]:
A = [1]
A.append([2, 3, 4, 5])
A

[1, [2, 3, 4, 5]]

In [15]:
a=7
if(a==7):
    print("equals to seven")
else:
    print("not equals") 
print("kiruba")

equals to seven
kiruba

In [23]:
b=9
if(b==7):
    print("equals to seven")
elif(b<=7):
    print("Less than seven")
else:
    print("Greater than seven") 

print("MOVE ON")

Greater than seven
MOVE ON

In [1]:
'B' > 'A'

True

In [4]:
'a'=='A'

False

## RANGE

In [9]:
range(5)

range(0, 5)

In [8]:
list(range(5))

[0, 1, 2, 3, 4]

In [13]:
x=range(10,20,2)
list(x)

[10, 12, 14, 16, 18]

## loops

In [17]:
color=["red", "white", "green"]
for i in range(0,3):
    color[i]="RED"
color

['RED', 'RED', 'RED']

In [18]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [19]:
fruits = ["apple", "banana", "orange"]
for index, fruit in enumerate(fruits):
    print(f"At position {index}, I found a {fruit}")

At position 0, I found a apple
At position 1, I found a banana
At position 2, I found a orange

In [ ]:
count = 1
while i in range(5)
    print(i)

In [22]:
for i in range(5):
    print(i,end='') # end='' refers python not to move on the next line after the first execution the statement

01234

In [26]:
dates = [1982, 1980, 1973, 2000]
i = 0
while(dates[i] != 1973):    
    print(dates[i])
    i = i + 1

1982
1980

In [28]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []

i = 0
while i < len(squares):
    if squares[i] != 'orange':
        break
    new_squares.append(squares[i])
    i += 1
new_squares

['orange', 'orange']

In [29]:
for i, x in enumerate(['A', 'B', 'C']):
    print(i, x)

0 A
1 B
2 C

## Build In function

In [10]:
def sub1(a):
    b=a-1
    return b

In [11]:
sub1(5)

4

In [18]:
def Nowork():
    pass

print(Nowork())

None

In [29]:
Album=[10,20,30]
def printstuff(a):
    for index, value in enumerate(Stuff):
        print("Album",index+1,"rating is",value)
printstuff(Album)

Album 1 rating is 10
Album 2 rating is 20
Album 3 rating is 30

In [7]:
x = [2,8,3,4,5]
x.reverse()
x

[5, 4, 3, 8, 2]

## OBJECT AND CLASS

In [1]:
class goa:
    name=""
    drink=""
    def party (self):
        print("Lets Party.....")
    def beach (self):
        print("Enjoying the beach")
ramesh = goa ()
suresh = goa ()

ramesh.name="Ramesh"
suresh.name="Suresh"

ramesh.drink = "yes"
suresh.drink ="No"

print (ramesh.name)
print("drink:", ramesh.drink)
print(suresh.name)
print("drink:", suresh.drink)

Ramesh
drink: yes
Suresh
drink: No

In [3]:
current_temp = 18
current_temp = current_temp > 25
print(current_temp)

False

# Operators

## Arithematic operator

In [3]:
a = int(input("Enter a number:"))
b = int(input("Enter another Number:"))
print("Addition is",a+b)

Enter a number: 4
Enter another Number: 5

Addition is 9

In [4]:
a = float(input("Enter a number:"))
b = float(input("Enter another Number:"))
print("Addition is",a+b)

Enter a number: 8
Enter another Number: 5

Addition is 13.0

TYPE PROMOTION

In [5]:
a = float(input("Enter a number:"))
b = int(input("Enter another Number:"))
# basically in python float is a "Higher data type" and int is a "Lower data type" is python use "TYPE PROMOTION" in the integer datatype to make it as a float data type 
print("Addition is",a+b)

Enter a number: 8
Enter another Number: 6

Addition is 14.0

In [10]:
a = int(input("Enter a number:"))
b = int(input("Enter another Number:"))
print("Addition is",a/b)
print("Addition is",a//b)
# By default, python returns the value as a float datatype while using the / operator.
# in order to get the result as int we use floor division "//"

Enter a number: 5
Enter another Number: 2

Addition is 2.5
Addition is 2

In [16]:
a = int(input("Enter a number:"))
b = int(input("Enter another Number:"))
print("Addition is",a%b) # MODULO operator it returns remainder value
print("Exponentinal is:",a**b)

Enter a number: 5
Enter another Number: 2

Addition is 1
Exponentinal is: 25

## Relational operator

In [12]:
a = 13
b = 33

print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

## Augumented assignment operators

In [15]:
a=10 
a+=2 # a = a+2
print(a)
a-=2 # a = a-2
print(a)
a*=2 # a = a*2
print(a)

12
10
20

In [18]:
r=10
x=100000
r%=x
print(r)

10

## Logical operator

In [19]:
a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

## Identity Operators

In [38]:
a = 10
b = 10 
c = a
d=[10,20,30]
e=[10,20,30]

print(a is not b)
print(a is c)
print(id(d)) # to check Memory address
print(id(e))
print(d is e)
print(d is not e)
print(d==e)
# even though the elements are same in the list d and e both stored in different memory address so it returns False 
# but while using equal == operator it returns True because == opertor Checks values inside the objects, Compares elements one by one

False
True
1579601670656
1579601524096
False
True
True

## Membership Operators

in
not in

In [36]:
x = 24
y = 20
list = [10, 20, 30, 40, 50]

if (x not in list):
    print("x is NOT present in given list")
else:
    print("x is present in given list")

if (y in list):
    print("y is present in given list")
else:
    print("y is NOT present in given list")

x is NOT present in given list
y is present in given list

In [41]:
import statistics

In [43]:
a= statistics.mean([1,2,3])
print(a)

2

In [46]:
data5 = (-1, -2, -3, -4, 4, 3, 2, 1) 
print("Median of data-set 5 is % s" % (statistics.median(data5)))

Median of data-set 5 is 0.0

In [1]:
statistics.stdev([5,6,7,8,6])    # Sample SD
statistics.pstdev([8,9,7,6,4])  # population SD

NameError: name 'statistics' is not defined