# Python collection:

list, tuple, set, dictionary,

# LIST: []
### Allows Duplicate.
### Any type of data can be stored.
### We can modify the list item.
### We can add or remove.

In [33]:
a=[1,2,3,4]
print(a)
print(a[1]) # INDEXING

[1, 2, 3, 4]
2

In [40]:
# insert(), append(), extend(), pop()

In [34]:
#append adds value at the last position of the variable
a.append([7,70]) # append takes only one argument
print(a)

[1, 2, 3, 4, [7, 70]]

In [35]:
a.append('kiruba')
print(a)

[1, 2, 3, 4, [7, 70], 'kiruba']

In [36]:
# add the value 12 on the 1st index position
a.insert(1,12) # insert(position, value)
print(a)

[1, 12, 2, 3, 4, [7, 70], 'kiruba']

In [37]:
# remove 1 and change into 11
a[0]=11
print(a)

[11, 12, 2, 3, 4, [7, 70], 'kiruba']

In [38]:
# to remove 4
a.pop(4) # here 4 refers to the index position
print(a)

[11, 12, 2, 3, [7, 70], 'kiruba']

In [39]:
# to remove the last element, just run pop() without an argument.
a.pop()
print(a)

[11, 12, 2, 3, [7, 70]]

In [42]:
b=[11,23,12]
a.extend(b) # to add two list.
print(a)

[11, 12, 2, 3, [7, 70], 11, 23, 12, 11, 23, 12]

## TUPLE: ()
### Allows Duplicate.
### Any type of data can be stored.
### We cannot modify the tuple item.
### we cannot add or remove.

In [45]:
c=(5,6,7,8)
print(c)

(5, 6, 7, 8)

In [46]:
# casting - change tuple to list
d=list(c)
print(d)

[5, 6, 7, 8]

## SET: {}
### Do not allow Duplicate, Duplicate values will be removed.
### Any type of data can be stored
### We cannot modify the set item but we can add or remove items.
### Sets are unordered.
### add(),update(), remove(),pop()

In [68]:
e={1,2,"kiruba",3,4,1} # duplicate removed
print(e)

{1, 2, 3, 4, 'kiruba'}

In [69]:
e.add(8)
print(e)

{1, 2, 3, 4, 'kiruba', 8}

In [70]:
e.remove(1) # 1 refers to the value not index
print(e)

{2, 3, 4, 'kiruba', 8}

In [71]:
e.pop() # removes 1st element
print(e)

{3, 4, 'kiruba', 8}

## DICTIONARY: {}
### Do not allow Duplicate, Duplicate value will overwrite existing value.
### Any type of data can be stored.

In [32]:
f= {
    "Name":"Kiruba",
    "Age":21,
    "Location":"Kovilpatti",
    "Students":["bala","john","yuva"]
}
print(f)
print(f["Location"])

{'Name': 'Kiruba', 'Age': 21, 'Location': 'Kovilpatti', 'Students': ['bala', 'john', 'yuva']}
Kovilpatti

In [33]:
print(f.keys())

dict_keys(['Name', 'Age', 'Location', 'Students'])

In [34]:
print(f.values())

dict_values(['Kiruba', 21, 'Kovilpatti', ['bala', 'john', 'yuva']])

In [35]:
# Modifying or updating
f["Age"]=22
# OR 
# f.update({"Age":22})
print(f)

{'Name': 'Kiruba', 'Age': 22, 'Location': 'Kovilpatti', 'Students': ['bala', 'john', 'yuva']}

In [36]:
#Adding new data
f["college"]="MCC"
print(f)

{'Name': 'Kiruba', 'Age': 22, 'Location': 'Kovilpatti', 'Students': ['bala', 'john', 'yuva'], 'college': 'MCC'}

In [37]:
# to delete a value
f.pop("Students")
# OR
# del f["Students"]
print(f)

{'Name': 'Kiruba', 'Age': 22, 'Location': 'Kovilpatti', 'college': 'MCC'}

In [38]:
# to delete a complete dictionary
del f

In [39]:
print(f)

NameError: name 'f' is not defined